html, body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.soria .dijitToolbar .dijitButton, .soria .dijitToolbar .dijitToggleButton, .soria .dijitToolbar .dijitDropDownButton, .soria .dijitToolbar .dijitComboButton .dijitButtonContents, .soria .dijitToolbar .dijitComboButton .dijitDownArrowButton {
    background: none;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonChecked, .soria .dijitToolbar .dijitToggleButtonChecked {
    background-color: #ffdd55;
    color: #000000 !important;
    border: 0px;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonCheckedHover, .soria .dijitToolbar .dijitToggleButtonCheckedHover {
    background-color: #aaaaaa !important;
    border: 0px !important;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonHover, .soria .dijitToolbar .dijitToggleButtonHover, .soria .dijitToolbar .dijitDropDownButtonHover, .soria .dijitToolbar .dijitComboButtonHover .dijitButtonContents, .soria .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
    border: 0px;
    padding: 3px;
    background-color: #d4aa00;
}

.dijitToolbar {
    background: #555555 !important;
    color: #ffffff !important;
    text-shadow: #ffffff 0px 1px 0px !important;
    border: 0px !important;
    /*border-bottom: 1px solid #aaaaaa !important;*/
    /*border-top: 1px solid #aaaaaa !important;*/
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitGutter {
    background-image: url(../images/shadow.png) !important;
    visibility: hidden;
    top: 25px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitBorderContainer-dijitContentPane {
    background: #fff !important;
    top: 25px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitDialog {
    border: 1px solid #777777 !important;
}

.dijitDialogTitleBar {
    background: #777777 url(../images/titleBar.png) repeat-x top left !important;
    color: #222222 !important;
    text-shadow: #ffffff 0px 1px 0px !important;
}

.dijitDialogPaneContent {
    color: #000000 !important;
}

.dijitDialogUnderlay {
    background: #48373e;
}

.addMarker2D {
    background-image: url(../images/addMarker2D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.addMarker3D {
    background-image: url(../images/addMarker3D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.addRegion2D {
    background-image: url(../images/addRegion2D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.measure {
    background-image: url(../images/measure.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

/*
 * Following values are used by region2D.js etc.
 */
#tipper {
    position: absolute;
    width: 300px;
    height: 165px;
    background: #ffffff;
    /*overflow: hidden;*/
    border: 1px solid #2a2aff;
    padding: 0px;
}

#tipperLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 18px;
    color: #ffffff;
    background: #2a2aff;
    padding: 2px 5px;
    text-align: left;
    font-weight: bold;
}

#tipperDescription {
    position: absolute;
    top: 22px;
    left: 0px;
    width: 290px;
    height: 100px;
    color: #000000;
    background: #ffffff;
    padding: 5px 5px;
    text-align: left;
    overflow: hidden;
}

#tipperMore {
    position: absolute;
    top: 142px;
    left: 0px;
    width: 290px;
    height: 20px;
    color: #777777;
    background: #ffffff;
    padding: 1px 5px;
    text-align: left;
}

#tipperDescription ul {
    margin: 0px;
    padding: 0px 15px;
}

#targetframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#woolztargetframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#content {
    overflow: hidden;
    padding: 0px;
    border: 0px solid #ff0000;
    width: 100%;
    height: 95%;
}

#tfshadow {
    background-image: url(../images/shadow.png);
    background-repeat: x-repeat;
    filter: alpha(opacity = 70);
    opacity: 0.70;
    -moz-opacity: .70;
    border: 0px;
    height: 9px;
    width: 100%;
    position: relative;
    float: right;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    padding: 0px;
    margin: 0px;
}

#controls {
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    /*
     filter: alpha(opacity = 80);
     opacity: 0.80;
     -moz-opacity: .80;
     */
    background-color: #333333;
    border: 0px solid #333333;
    border-left: 1px solid #222222;
    height: 435px;
    width: 407px;
    /*  overflow: hidden; */
}

#toggleControls {
    position: relative;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 390px;
    border: 0px;
    padding: 1px;
    padding-right: 15px;
    margin: 0px;
    background: url(../images/cvalue.png);
    background-repeat: x-repeat;
	border-bottom: 1px solid #555555;
    font-weight: bold;
    font-size: 8pt;
    text-align: right;
    color: #AAAAAA;
    text-shadow: #000000 0px 1px 0px;
    cursor: move;
}

#roiLabel {
    position: absolute;
    float: left;
    top: 57px;
    left: 148px;
    display: block;
    border: 0px solid #ff00ff;
    color: #cccccc;
    text-align: left;
    font-weight: bold;
    font-size: 8pt;
    text-shadow: #000000 0px 1px 0px;
}

#roiControl {
    position: absolute;
    float: left;
    top: 75px;
    left: 148px;
    width: 250px;
    height: 250px;
    border: 0px solid #ffff00;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
}

#secLabel {
    position: absolute;
    top: 57px;
    left: 10px;
    float: left;
    display: block;
    border: 0px solid #ff00ff;
    color: #cccccc;
    text-align: left;
    font-weight: bold;
    font-size: 8pt;
    text-shadow: #000000 0px 1px 0px;
}

#secControl {
    position: absolute;
    float: none;
    top: 75px;
    left: 10px;
    width: 128px;
    height: 128px;
    color: #ffffff;
    background-color: #ff00ff;
    border: 0px solid #ffff00;
    text-align: left;
}

#zoomControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 330px;
    right: 10px;
    float: right;
}

#dstControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 350px;
    right: 10px;
    float: right;
}

#yawControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 370px;
    right: 10px;
    float: right;
}

#pitchControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 390px;
    right: 10px;
    float: right;
}

#rollControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 410px;
    right: 10px;
    float: right;
}

#zoomLabel, #yawLabel, #pitchLabel, #rollLabel, #dstLabel {
    border: 0px solid #ffff00;
    position: relative;
    float: right;
    right: 15px;
    display: block;
    font-weight: bold;
    font-size: 8pt;
    color: #cccccc;
    text-shadow: #000000 0px 1px 0px;
}

#zoomValue, #yawValue, #pitchValue, #dstValue, #rollValue {
    position: relative;
    float: right;
    right: 10px;
    top: 0px;
    height: 17px;
    width: 25px;
    border: 0px solid #555555;
    padding: 0px;
    background-color: #2a2a2a;
    background: url(../images/cvalue.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Trebuchet MS";
    font-size: 8pt;
    text-align: right;
    color: #ffff00;
}

#zoomSliderDecrement, #dstSliderDecrement, #yawSliderDecrement, #pitchSliderDecrement, #rollSliderDecrement {
    position: relative;
    float: right;
    right: 10px;
    top: 0px;
    height: 17px;
    width: 17px;
    border: 0px solid #555555;
    padding: 0px;
    background-color: #2a2a2a;
    background: url(../images/cvalueDec.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#zoomSliderIncrement, #dstSliderIncrement, #yawSliderIncrement, #pitchSliderIncrement, #rollSliderIncrement {
    position: relative;
    float: right;
    right: 10px;
    top: 0px;
    height: 17px;
    width: 17px;
    border: 0px solid #555555;
    padding: 0px;
    background-color: #2a2a2a;
    background: url(../images/cvalueInc.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#zoomSliderControl, #yawSliderControl, #pitchSliderControl, #rollSliderControl, #dstSliderControl, #width-area, #height-area {
    position: relative;
    float: right;
    display: block;
    top: 7px;
    right: 0px;
    height: 4px;
    width: 265px;
    border: 0px solid #777777;
    background-color: #222222;
    background: url(../images/slider.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#zoomSlider, #yawSlider, #pitchSlider, #rollSlider, #dstSlider, #width-slider, #height-slider {
    position: relative;
    top: -6px;
    height: 15px;
    width: 15px;
    background: #ffff00;
    background: url(../images/sliderHandle.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#navigatorControl {
    color: #ffffff;
    border: 0px solid #ffff00;
    text-align: left;
    position: absolute;
    top: 215px;
    left: 10px;
    width: 128px;
    height: 128px;
    float: none;
}

#navigatorLabel {
    border: 0px solid #ff00ff;
    text-align: left;
    font-weight: bold;
    font-size: 8pt;
    color: #cccccc;
    text-shadow: #000000 0px 1px 0px;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    display: block;
}

#navigatorButtons {
    background-color: #000000;
    border: 0px solid #ff0000;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 6px;
    left: 0px;
    width: 128px;
    height: 90px;
    float: left;
    display: block;
}

#navigatorLeft {
    background-color: #000000;
    background-image: url(../images/left.png);
    position: absolute;
    top: 27px;
    left: 14px;
    width: 30px;
    height: 36px;
    cursor: pointer;
}

#navigatorRight {
    background-color: #000000;
    background-image: url(../images/right.png);
    position: absolute;
    top: 27px;
    left: 83px;
    width: 30px;
    height: 36px;
    cursor: pointer;
}

#navigatorUp {
    background-color: #000000;
    background-image: url(../images/up.png);
    position: absolute;
    top: 9px;
    left: 46px;
    width: 36px;
    height: 30px;
    cursor: pointer;
}

#navigatorDown {
    background-color: #000000;
    background-image: url(../images/down.png);
    position: absolute;
    top: 55px;
    left: 46px;
    width: 36px;
    height: 30px;
    cursor: pointer;
}

#resourceGrid {
    height: 350px;
    width: 100%;
    overflow-y: none;
    overflow-x: none;
}

#resourceDescription {
    text-align: left;
    height: 100px;
    width: 100%;
}

#create2DMarkerCanvas {
    cursor: url(../images/Handwriting.cur), crosshair, default;
}

#create2DRegionCanvas {
    cursor: url(../images/Handwriting.cur), crosshair, default;
}

#createMeasurementCanvas {
    cursor: url(../images/Precision.cur), crosshair, default;
}

.author {
    color: #000077;
    font-weight: medium;
}

.title {
    color: #000000;
    font-weight: bold;
}

.abstract {
    color: #007700;
    font-weight: medium;
    font-style: oblique;
}

.mime {
}

.link {
}

.oddRowSelected {
    cursor: default;
    background-color: #a9dfff;
}

.evenRowSelected {
    cursor: default;
    background-color: #a9dfff;
}

.details {
    border: 0px solid #777777;
}

.details td {
    padding: 0px 5px;
}

.label {
    text-align: right;
    font-weight: bold;
}

.value {
    text-align: left;
}

.items {
    border: 0px solid #777777;
    width: 100%;
    border-collapse: collapse;
}

.items tr:hover {
    background-color: #79a7ff;
}

.items th {
    padding: 3px;
    background-color: #aaaaaa;
    font-weight: bold;
    text-shadow: #d1d1d1 0px 1px 0px;
    border-bottom: 1px solid #777777;
}

.items td {
    padding: 3px;
    font-weight: medium;
    text-align: left;
}

.clickable {
    cursor: pointer;
}

.oddRow {
    background-color: #dddddd;
}

.evenRow {
    background-color: #eeeeee;
}

.selected {
    background-color: #93c1ff;;
}

.orientation-browser {
    border: 1px solid #777777;
    width: 350px;
    height: 400px;
    overflow: auto;
}

.layer-browser {
    border: 1px solid #777777;
    height: 400px;
    overflow: auto;
}

.resource-browser {
    border: 1px solid #777777;
    height: 400px;
    overflow: auto;
}

.resource-item-browser {
    border: 1px solid #777777;
    height: 300px;
    overflow: auto;
}

.form {
    text-align: left;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

body {
    margin: 0px;
    padding: 0px;
    /*
     background: 'black';
     font: 12px verdana,arial,sans-serif;
     */
    font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
    color: gray;
}

/*
 div #targetframe
 {
 position: relative;
 overflow: hidden;
 margin: 0px;
 padding: 0px;
 left: 0px;
 top: 0px;
 
 background: 'black';
 border: '2px inset gray';
 
 }
 */
div #tileframecontainer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    border: 0px solid #00ff00;
}

div #tileframe {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    cursor: move;
    border: 0px solid #ff0000;
}

div .overlaycontainer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    /*opacity: 0.6;
     filter: alpha(opacity=60;)*/
}

div .overlayframe {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    cursor: move;
    /*opacity: 0.6;
     filter: alpha(opacity=60);*/
}

div .zone {
    background: gray;
    cursor: move;
    /* Safari, Firefox */
    opacity: 0.4;
    /* IE */
    filter: alpha(opacity = 40);
}

div .imagecontainer {
    position: absolute;
}

div #tileframe .tile {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    background-repeat: no-repeat;
}

div #tileframe area {
    cursor: pointer;
}

div .overlayframe .tile {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    background-repeat: no-repeat;
}

div .overlayframe area {
    cursor: pointer;
}

div #overlayframe .tile {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    background-repeat: no-repeat;
}

div #overlayframe area {
    cursor: pointer;
}

div .draggable-container {
    position: absolute;
}

div .draggable-container .corner {
    position: absolute;
    /* Safari, Firefox */
    opacity: 0.6;
    /* IE */
    filter: alpha(opacity = 60);
}

div .draggable-container .edge {
    position: absolute;
    background: #929292;
    /* Safari, Firefox */
    opacity: 0.6;
    /* IE */
    filter: alpha(opacity = 60);
}

div .draggable-container .corner-tl {
    left: 0px;
    top: 0px;
}

div .draggable-container .corner-tr {
    right: 0px;
    top: 0px;
}

div .draggable-container .corner-bl {
    left: 0px;
    bottom: 0px;
}

div .draggable-container .corner-br {
    right: 0px;
    bottom: 0px;
}

div .draggable-handle {
    top: 0px;
    left: 0px;
    position: absolute;
    color: black;
    cursor: move;
    /* Safari, Firefox */
    opacity: 0.6;
    /* IE maze:block does not allow draggable in ie 7*/
    /*filter: alpha(opacity=60);*/
}

div .draggable-handle h4 {
    margin: 0px;
}

div .draggable-win {
    position: absolute;
    background: white;
    text-align: left;
}

div #loading-win {
    position: absolute;
    width: 128px;
    height: 64px;
    z-index: 5;
}

div #loading-message {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 48px;
}

img #loading-image {
    position: absolute;
    left: 48px;
    top: 0px;
}

/*maze popupmenu*/
.p-shadow {
    width: 20%;
    float: left;
    background: url(../images/contextmenu/shadowAlpha.png) no-repeat bottom right !important;
    background: url(../images/contextmenu/shadow.gif) no-repeat bottom right;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}

.p-shadow div {
    background: none !important;
    background: url(../images/contextmenu/shadow2.gif) no-repeat left top;
    padding: 0 !important;
    padding: 0 6px 6px 0;
}

.p-shadow ul {
    color: #777;
    background-color: #fff;
    /*font: italic 1em georgia, serif;*/
    font-size: 13px;
    border: 1px solid #a9a9a9;
    padding: 4px;
    margin: -6px 6px 6px -6px !important;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

#control-model {
    position: relative;
    top: 23px;
}

#control-model-label {
    position: relative;
    top: 0px;
    left: 10px;
    float: left;
    font-weight: bold;
    font-size: 8pt;
    color: #cccccc;
    text-shadow: #000000 0px 1px 0px;
}

#control-model-value {
    position: relative;
    top: 0px;
    left: 15px;
    float: left;
    font-size: 8pt;
    color: #FFFF00;
}

#control-layer {
    position: absolute;
    top: 40px;
}

#control-layer-label {
    position: relative;
    top: 0px;
    left: 10px;
    float: left;
    font-weight: bold;
    font-size: 8pt;
    color: #cccccc;
    text-shadow: #000000 0px 1px 0px;
}

#control-layer-value {
    position: relative;
    top: 0px;
    left: 15px;
    float: left;
    font-size: 8pt;
    color: #FFFF00;
}

#ngembryo-application {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
