

.soria .dijitToolbar .dijitButton, .soria .dijitToolbar .dijitToggleButton, .soria .dijitToolbar .dijitDropDownButton, .soria .dijitToolbar .dijitComboButton .dijitButtonContents, .soria .dijitToolbar .dijitComboButton .dijitDownArrowButton {
    background: none;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonChecked, .soria .dijitToolbar .dijitToggleButtonChecked {
    background-color: #ffdd55;
    color: #000000 !important;
    border: 0px;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonCheckedHover, .soria .dijitToolbar .dijitToggleButtonCheckedHover {
    background-color: #aaaaaa !important;
    border: 0px !important;
    padding: 3px;
}

.soria .dijitToolbar .dijitButtonHover, .soria .dijitToolbar .dijitToggleButtonHover, .soria .dijitToolbar .dijitDropDownButtonHover, .soria .dijitToolbar .dijitComboButtonHover .dijitButtonContents, .soria .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
    border: 0px;
    padding: 3px;
    background-color: #d4aa00;
}

.dijitToolbar {
    background: #555555 !important;
    color: #ffffff;
    border: 0px !important;
    /*border-bottom: 1px solid #aaaaaa !important;*/
    /*border-top: 1px solid #aaaaaa !important;*/
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitGutter {
    background-image: url(http://www.ema-europe.org/css/kangleipak/hash_bottom.png) !important;
    visibility: hidden;
    top: 25px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitBorderContainer-dijitContentPane {
    background: #fff !important;
    top: 25px !important;
    left: 0px !important;
    right: 0px !important;
}

.dijitDialog {
    border: 0px solid #ffffff !important;
}

.dijitDialogTitleBar {
    background: #2a2aff !important;
    color: #ffffff !important;
}

.dijitDialogPaneContent {
    color: #000000 !important;
}

.dijitDialogUnderlay {
    background: #48373e;
}

.addMarker2D {
    background-image: url(../images/addMarker2D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.addMarker3D {
    background-image: url(../images/addMarker3D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.addRegion2D {
    background-image: url(../images/addRegion2D.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.measure {
    background-image: url(../images/measure.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}
/*
 * Following values are used by region2D.js etc.
 */
#tipper {
    position: absolute;
    width: 300px;
    height: 165px;
    /*overflow: hidden;*/
    border: 1px solid #2a2aff;
    padding: 0px;
}

#tipperLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 18px;
    color: #ffffff;
    background: #2a2aff;
    padding: 2px 5px;
    text-align: left;
    font-weight: bold;
}

#tipperDescription {
    position: absolute;
    top: 22px;
    left: 0px;
    width: 290px;
    height: 133px;
    color: #000000;
    background: #ffffff;
    padding: 5px 5px;
    text-align: left;
}

#targetframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -9px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#woolztargetframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -9px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#content {
    overflow: hidden;
    padding: 0px;
    border: 0px;
}

#tfshadow {
    background-image: url(../images/shadow.png);
    background-repeat: x-repeat;
    filter: alpha(opacity = 70);
    opacity: 0.70;
    -moz-opacity: .70;
    border: 0px;
    height: 9px;
    width: 100%;
    position: relative;
    float: right;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    padding: 0px;
    margin: 0px;
}

#controls {
    color: #ffffff;
    /*
     filter: alpha(opacity = 80);
     opacity: 0.80;
     -moz-opacity: .80;
     */
    background-color: #333333;
    border: 0px solid #333333;
    height: 490px;
    width: 408px;
    /*	overflow: hidden; */
    position: relative;
    float: right;
    top: -9px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

#toggleControls {
    width: 120px;
    height: 16px;
    background-color: #0000d4;
    color: #ffffff;
    border: 1px solid #0000d4;
    position: absolute;
    float: right;
    top: 490px;
    right: -1px;
    padding: 2px 5px;
    margin: 0px;
    cursor: pointer;
}

#roiLabel {
    color: #ffffff;
    border: 0px solid #ff00ff;
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 148px;
    float: left;
    display: block;
}

#roiControl {
    color: #ffffff;
    background-color: #000000;
    border: 0px solid #ffff00;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 148px;
    width: 250px;
    height: 250px;
    float: left;
}

#secLabel {
    color: #ffffff;
    border: 0px solid #ff00ff;
    text-align: left;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    float: left;
    display: block;
}

#secControl {
    color: #ffffff;
    background-color: #ff00ff;
    border: 0px solid #ffff00;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 10px;
    width: 128px;
    height: 128px;
    float: none;
}

#yawControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 435px;
    left: 10px;
    float: left;
}

#pitchControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 390px;
    left: 10px;
    float: left;
}

#dstControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 345px;
    left: 10px;
    float: left;
}

#zoomControl {
    border: 0px solid #ffff00;
    position: absolute;
    top: 300px;
    left: 10px;
    float: left;
}

#zoomLabel, #yawLabel, #pitchLabel, #dstLabel {
    border: 0px solid #ffff00;
    position: relative;
    float: left;
    display: block;
    font-weight: bold;
}

#zoomValue, #yawValue, #pitchValue, #dstValue {
    border: 0px solid #ffff00;
    position: relative;
    left: 5px;
    width: 30px;
    float: left;
    text-align: left;
    display: block;
}

#zoomSliderControl, #yawSliderControl, #pitchSliderControl, #dstSliderControl, #width-area, #height-area {
    /*background: #ff0000; /* url(horizontal.jpg) 0 8px no-repeat; */
    border: 1px solid #ffffff;
    height: 10px;
    width: 388px;
    left: 0px;
    top: 20px;
    position: absolute;
    float: left;
    display: block;
}

#zoomSlider, #yawSlider, #pitchSlider, #dstSlider, #width-slider, #height-slider {
    background: #ffdd55; /* url(button-horizontal.jpg) no-repeat; */
    width: 20px;
    height: 10px;
    cursor: pointer;
    position: relative;
}

#navigatorControl {
    color: #ffffff;
    border: 0px solid #ffff00;
    text-align: left;
    position: absolute;
    top: 168px;
    left: 10px;
    width: 128px;
    height: 128px;
    float: none;
}

#navigatorLabel {
    border: 0px solid #ff00ff;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    display: block;
}

#navigatorButtons {
    background-color: #000000;
    border: 0px solid #ff0000;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 6px;
    left: 0px;
    width: 128px;
    height: 90px;
    float: left;
    display: block;
}

#navigatorLeft {
    background-color: #000000;
    background-image: url(../images/left.png);
    position: absolute;
    top: 27px;
    left: 14px;
    width: 30px;
    height: 36px;
    cursor: pointer;
}

#navigatorRight {
    background-color: #000000;
    background-image: url(../images/right.png);
    position: absolute;
    top: 27px;
    left: 83px;
    width: 30px;
    height: 36px;
    cursor: pointer;
}

#navigatorUp {
    background-color: #000000;
    background-image: url(../images/up.png);
    position: absolute;
    top: 9px;
    left: 46px;
    width: 36px;
    height: 30px;
    cursor: pointer;
}

#navigatorDown {
    background-color: #000000;
    background-image: url(../images/down.png);
    position: absolute;
    top: 55px;
    left: 46px;
    width: 36px;
    height: 30px;
    cursor: pointer;
}
